.stations,
.stations svg {
  position: absolute;
}
.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}
@keyframes pulse-me {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}
svg.pulse {
  overflow: visible;
  width: 10px;
  height: 10px;
}
svg.pulse .circle-base {
  fill: rgb(0, 80, 224);
}
svg.pulse .circle-shadow {
  fill: rgb(0, 80, 224);
  transform: scale(0.5);
  transform-origin: center center;
  animation: pulse-me 3s linear infinite;
}
